:root {
    --primary-font: "Roboto",  sans-serif;
    --secondary-font: "Raleway",  sans-serif;
    --white: #ffffff;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cloud: #F4F4FD;
    --navy-blue: #2E2F42;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --border: 1px solid #E7E9FC;
    --trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    background-color: var(--white);
    font-family: var(--primary-font);
    color: var(--slate);
}

main {
    min-height: 100vh;
}

.container {
    min-width: 320px;
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.link {
    text-decoration: none;
    color: var(--navy-blue);
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--trans);
}

.link:hover,
.link:focus {
    color: var(--ocean);
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    .list {
        flex-direction: row;
        gap: 24px;
    }
}

.btn {
    font-weight: 500;
    font-size: 16px;
    justify-content: center;
    font-family: inherit;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    transition:
            background-color var(--trans),
            color var(--trans);
}

.btn:hover,
.btn:focus {
    color: var(--white);
    background-color: var(--ocean);
}

.input {
    background-color: transparent;
    transition: border-color var(--trans);
}

.input:focus {
    border-color: var(--iris);
    outline: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
}

.secondary-title {
    text-align: center;
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    align-self: stretch;
}

@media only screen and (min-width: 768px) {
    .secondary-title {
        text-align: left;
    }
}

@media only screen and (min-width: 1158px) {
    .secondary-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        align-self: normal;
    }
}

.social-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 24px;
}

.social-item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--iris);
    transition: background-color var(--trans);
}

.social-link:focus,
.social-link:hover {
    background-color: var(--ocean);
}

.social-icon {
    fill: var(--cloud);
}

.header {
    border-bottom: var(--border);
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px){
    .header-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    flex-wrap: nowrap;
    align-items: flex-start;
    font-weight: 500;
    gap: 40px;
}

@media only screen and (max-width: 767px){
    .navigation-list {
        display: none;
    }
}

.navigation-item {
    padding: 24px 0;
    position: relative;
    display: block;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    color: var(--navy-blue);
}

.navigation-active-item {
    color: var(--ocean);
}

.navigation-active-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background-color: var(--ocean);
    border-radius: 2px;
}

.logo {
    margin-right: auto;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: var(--secondary-font);
    color: var(--iris);
}

@media only screen and (min-width: 768px) {
    .logo {
        margin-right: 120px;
    }
}

@media only screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
}

.logo-span {
    color: var(--navy-blue);
}

.footer-logo-span {
    color: var(--navy-blue);
}

.address-list {
    justify-content: flex-end;
    gap: 12px;

    font-style: normal;
    color: var(--slate);
}

@media only screen and (max-width: 767px) {
    .address-list {
        display: none;
    }
}

.address-item {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

@media only screen and (min-width: 1158px) {
    .navigation-item {
        padding: 24px 0;

        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
    }

    .address-list {
        font-style: normal;
        gap: 40px;
        color: var(--slate);
    }

    .address-item {
        font-size: 16px;
        line-height: 1.5;
    }
}

.hero {
    padding: 112px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-position: center;
    background-color: var(--navy-blue);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-bg-mob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero-bg-mob@2x.jpg");
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/hero-bg-tab.jpg");
    }
}

@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/hero-bg-tab@2x.jpg");
    }
}

@media only screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/hero-bg-desc.jpg");
    }
}

@media only screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/hero-bg-desc@2x.jpg");
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

@media only screen and (min-width: 768px) {
    .hero-content {
        gap: 36px;
    }
}

@media only screen and (min-width: 1158px) {
    .hero-content {
        gap: 48px;
    }
}

.hero-title {
    width: 100%;
    max-width: 320px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--white);
}

@media only screen and (min-width: 768px) {
    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }
}

.hero-btn {
    min-width: 169px;
    padding: 16px 32px;
    border: none;
    color: var(--white);
    background-color: var(--iris);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color var(--trans);
}

.feature {
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
    .feature {
        padding: 120px 0;
    }
}

.feature-item {
    width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1167px){
    .feature-list {
        gap: 72px 24px;
    }
}

@media only screen and (min-width: 768px) {
    .feature-item {
        width: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .feature-item {
        width: calc((100% - 72px) / 4);
    }
}

.feature-icon {
    padding: 24px 100px;
    margin-bottom: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--cloud);
}

.feature-cart-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media only screen and (max-width: 1157px) {
    .feature-icon {
        display: none;
    }

    .feature-cart-text {
        font-weight: 500;
    }
}

.example {
    padding-bottom: 120px;
}

.example-item {
    width: calc((100% - 48px) / 3);
}

@media only screen and (max-width: 1157px) {
    .example {
        display: none;
    }
}

.team {
    padding: 96px 0;
    background-color: var(--cloud);
}

.team-card {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: var(--white);
}

.team-card-body {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.team-title {
    margin-bottom: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.team-card-text {
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

@media only screen and (min-width: 768px) {
    .team-list {
        gap: 64px 24px;
    }

    .team-card {
        width: 264px;
    }
}

@media only screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }

    .team-card {
        width: calc((100% - 72px) / 4);
    }
}

.customer {
    padding: 96px 0;
}

.customer-list {
    flex-direction: row;
    gap: 72px 16px;
}

@media only screen and (min-width: 768px) and (max-width: 1167px){
    .customer-container {
        width: 584px;
    }
}

.customer-item {
    height: 88px;
    width: calc((100% - 16px) / 2);
}

.customer-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    color: var(--light-slate);
    transition: border-color var(--trans), color var(--trans);;
}

.customer-icon {
    fill: currentColor;
}

.customer-link:hover,
.customer-link:focus{
    border-color: var(--ocean);
    color: var(--ocean);
}

@media only screen and (min-width: 768px) {
    .customer-list {
        gap: 72px 24px;
    }

    .customer-item {
        width: calc((100% - 48px) / 3);
    }
}

@media only screen and (min-width: 1158px) {
    .customer {
        padding: 120px 0;
    }

    .customer-item {
        width: calc((100% - 120px) / 6);
    }
}

.filter-btn {
    padding: 12px 24px;
    border: var(--border);
    color: var(--iris);
    background-color: var(--cloud);
    transition:
            color var(--trans),
            background-color var(--trans),
            border-color var(--trans),
            box-shadow var(--trans);
}

.filter-btn:hover,
.filter-btn:focus {
    border: 1px solid transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.10);
}

.portfolio {
    padding: 96px 0 120px 0;
}

.portfolio-filter-list {
    margin-bottom: 72px;
    justify-content: center;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}

.overlay {
    padding: 40px 32px;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform var(--trans);
    background-color: var(--iris);
    color: var(--cloud);
}

.portfolio-link {
    display: block;
    transition: box-shadow var(--trans);
}

.portfolio-link:hover,
.portfolio-link:focus {
    color: var(--navy-blue);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
    transform: translateY(0);
}

.portfolio-body {
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border: var(--border);
    border-top: none;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    padding: 97px 0;
    background-color: var(--navy-blue);
}

@media only screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
}

@media only screen
and (min-width: 768px)
and (max-width: 1158px) {
    .footer-container {
        width: 584px;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-container {
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }
}

.footer-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

@media only screen and (min-width: 768px) {
    .footer-text-container {
        flex-direction: row;
        gap: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-text-container {
        align-items: baseline;
        gap: 120px;
    }
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
}

@media only screen and (min-width: 768px) {
    .footer-logo {
        justify-content:flex-start;
    }
}

.footer-logo-span {
    color: var(--cloud);
}

.footer-text {
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--cloud);
}

.footer-title {
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}

@media only screen and (min-width: 768px) {
    .footer-title {
        text-align: left;
    }
}

.social-list-footer {
    gap: 16px;
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}

.footer-form {
    width: 100%;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

@media only screen and (min-width: 768px) {
    .subscribe {
        flex-direction: row;
        justify-content: flex-start;
        gap: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .subscribe-label {
        width: 100%;
    }
}

.subscribe-input {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-left: 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 768px) {
    .subscribe-input {
        width: 264px;
    }
}

.subscribe-input::placeholder {
    color: var(--white);
}

.subscribe-btn {
    min-width: 165px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);

    border-radius: 4px;
    border: none;
    background-color: var(--iris);
}

.subscribe-icon {
    margin-left: 16px;
    fill: var(--white);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--trans), visibility var(--trans);
    background-color: rgba(46, 47, 66, 0.40);
}

.modal {
    min-width: 408px;
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow:
            0 2px 1px 0 rgba(0, 0, 0, 0.20),
            0 1px 3px 0 rgba(0, 0, 0, 0.12),
            0 1px 1px 0 rgba(0, 0, 0, 0.14);
    transition: transform var(--trans);
}

.is-hidden {
    pointer-events: none;
}

.backdrop:not(.is-hidden) {
    visibility: visible;
    opacity: 1;
}

.close-button {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 24px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color var(--trans), border var(--trans);
}

.close-icon {
    transition: fill var(--trans);
}

.close-button:hover,
.close-button:focus {
    background-color: var(--ocean);
    border: none;
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
    fill: var(--white);
}

.modal-title {
    margin-bottom: 16px;

    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.form-group-sm {
    margin-bottom: 8px;
}

.form-group-md {
    margin-bottom: 16px;
}

.form-group-lg {
    margin-bottom: 24px;
}

.order-label {
    margin-bottom: 4px;
    display: block;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}

.input-group {
    position: relative;
}

.order-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    display: flex;
    justify-content: center;

    font-size: 11px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;

    transform: translateY(-50%);
    transition: fill var(--trans);
}

.order-input:focus + .input-icon {
    fill: var(--iris);
}

.description-input {
    width: 100%;
    height: 120px;
    padding: 8px 16px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
}

.order-label-checkbox {
    display: block;

    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.order-checkbox {
    width: 16px;
    height: 16px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition:
            background-color var(--trans),
            border var(--trans),
            fill var(--trans);
}

.checkbox:checked + .order-label-checkbox .order-checkbox {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}

.order-policy {
    color: var(--iris);
}

.order-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;

    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);

    border: none;
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color var(--trans);
}

.menu-toggle {
    padding: 24px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    stroke: currentColor;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media only screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    padding: 80px 40px 40px 35px;

    position: fixed;
    display: flex;
    flex-direction: column;

    top: 0;
    left: 0;

    min-width: 320px;
    width: 100%;
    min-height: 100%;

    z-index: 999;

    background-color: var(--white);

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

@media only screen and (min-width: 768px){
    .menu-container {
        display: none;
    }
}

.menu-container.is-open {
    transform: translateX(0);
}

.mobile-navigation-list {
    align-items: flex-start;
    margin-bottom: auto;
}

.mobile-navigation-item {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
}

.mobile-navigation-active-item {
    color: var(--ocean);
}

.mobile-contact-list {
    align-items: flex-start;
    margin-bottom: 48px;
}

.mob-tel {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;

    color: var(--iris);
}

@media only screen and (max-width: 320px){
    .mob-tel {
        font-size: 25px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 427px){
    .mob-tel {
        font-size: 28px;
    }
}

.mob-email {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    color: var(--slate);
}

.header-social-list {
    justify-content: flex-start;
    gap: 56px;
}

@media only screen and (max-width: 320px){
    .header-social-list {
        gap: 29px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 427px){
    .header-social-list {
        gap: 46px;
    }
}